.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.arrow {
  position: absolute;
  bottom: 0;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.left-arrow {
  left: 0;
}
.right-arrow {
  right: 0;
}
